* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* engloba todo o codigo*/
body {
    width: 100%;
    height: 100%;
    font-family: "Inter", serif;
    font-weight: 200px;
    font-style: regular;
    font-optical-sizing: auto;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

.container .conteudo {
    flex: 1;
    min-height: 1000px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

/* INICIO DO HEADER */

/* fundo header*/
.container .headerHomepage {
    background-color: #121213;
    width: 100%;
    height: 65px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    justify-content: space-between;
}

/* PARTE ESQUERDA DO HEADER */

.container .headerHomepage .iconesLeft {
    display: flex;
    gap: 30px;
}

.container .headerHomepage .iconesLeft .iconeCodi {
    z-index: 1;
    height: 75px;
    width: 75px;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;

}

.container .headerHomepage .iconesLeft .pesquisarLocal {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.container .headerHomepage .inputBuscarProdutos {
    padding: 7px;
    margin-right: 10px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 550px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 2px 2px 3px rgb(74, 2, 107);
}

.container .headerHomepage .botaoPesquisar {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding-left: 7px;
    padding-top: 5px;
    background-color: #121213;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2E0660;
    width: 40px;
    height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.botaoPesquisar img.imageBotao01 {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

/* PARTE DIREITA DO HEADER */

.container .headerHomepage .iconesRight h1 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
}

.container .headerHomepage #iconsRight {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


.container .headerHomepage .iconesRight {
    display: flex;
    gap: 30px
}

.container .headerHomepage .iconesRight h1 {
    margin-top: 5px;
}

/* FIM DO HEADER */

/* INICIO DO FOOTER*/

.container .footerAll {
    height: 195px;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* FOOTER SUPERIOR */

.container .footerAll .footerSuperior {
    background-color: #5C407E;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-right: 20px;
    width: 100%;
}

.container .footerAll .footerSuperior .linkHP {
    text-decoration: none;
    color: inherit;
}

.container .footerAll .footerSuperior h1 {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
}

.container .footerAll .linhaBranca {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 1px;
}


/* FOOTER INFERIOR */

.container .footerAll .footerInferior {
    width: 100%;
    height: 60px;
    background-color: #8641DA;
}

.container .footerAll .footerInferior h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 200;
    padding-top: 20px;
}

/* FIM DO FOOTER */

/* INICIO DO CONTEUDO */

.container .conteudo .spaceText1 {
    height: 20%;
    width: 100%;
    background-color: #EACFEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .conteudo .spaceText1 h1 {
    font-family: "inter";
    font-size: 50px;
    font-weight: 150;
}

.container .conteudo .produtoInfos {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);

}

.container .conteudo .produtoInfos img {
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

.container .conteudo .produtoInfos .infos22 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 350px;
}

.container .conteudo .produtoInfos .infos22 .precoProduto2 {
    font-weight: 200;
    font-size: 40px;
    margin-top: 1px;
}

.container .conteudo .produtoInfos .infos22 .precoInfo {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}

.container .conteudo .produtoInfos .infos22 .inEstoque {
    margin-top: 60px;
    color: #21830D;
    font-weight: 250;
}

.container .conteudo .produtoInfos .infos22 .botaoAddCarrinhoSP {
    margin-top: 25px;
    height: 40px;
    width: 300px;
    cursor: pointer;
    color: white;
    background-color: #101F6C;
    font-size: 16px;
    font-family: "inter";
    font-weight: bold;
}

.container .conteudo .produtoInfos .infos22 .botaoAddCarrinhoSP:hover {
    background-color: #19276e;
}



.container .conteudo .p22 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.container .conteudo .p22 .marcacao {
    font-weight: 300;
}